<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informações do professor</title>
</head>
<body>
<font size="7">Detalhes do professor</font>
<table border="1">
    <tr>
        <td>Nome</td>
        <td>Data de nascimento</td>
        <td>Nome mãe</td>
        <td>Titulação</td>
    </tr>
        <tr>
            <td>{{prof_details[0]}}</td>
            <td>{{prof_details[1]}}</td>
            <td>{{prof_details[2]}}</td>
            <td>{{prof_details[3]}}</td>
        </tr>
</table><br><br>
<font size="7">Disciplinas</font>
<table border="1">
    <tr>
        <td>Nome da disciplina</td>
        <td>Curso</td>
        <td>Carga Horária</td>
    </tr>
        {% for disciplina in prof_disciplinas %}
        <tr>
            <td>{{disciplina[0]}}</td>
            <td>{{disciplina[1]}}</td>
            <td>{{disciplina[2]}}</td>
        </tr>
        {% endfor %}
</table>

</body>
</html>