<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu principal</title>
</head>
<body>
<ul>
    <li><a href="/listarProfessores">Listar Professores</a></li><br>
    <li><form action="/consultarPorTitulacao"></li>
        Listar professores pela titulação:
  <select name="professortitulacao">
    <option value=1>Especialização</option>
    <option value=2>Mestrado</option>
    <option value=3>Doutorado</option>
  </select>
  <br><br>
  <input type="submit">
</form>
</ul>
</body>
</html>